{% extends "layout.html" %}

{% block title %}
    <title>Edit Review</title>    
{% endblock %}
{% block style %}
    <style>
        #book_title {text-align: center;}
    </style>
{% endblock %}


{% block body %}
<div id="book_title">
    {{ book[2] }}
</div>
<div class="row" id="book">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <form action="{{ url_for('editreview', id=review[3]) }}" method="POST">
            <div class="form-group">
                <label for="comment">Edit Review</label>
                <textarea class="form-control" rows="5" id="comment" name="comment">{{ review[2] }}</textarea>
            </div>
            <div class="form-group">
                <label for="rating">Select Rating</label>
                <select class="form-control" id="rating" name="rating">
                  <option disabled selected value=None>Rating</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <div class="error">
            {% if edit_review_error %}
                {{ edit_review_error }}
            {% else %}
                <br>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>
{% endblock %}
