{% extends "layout.html" %}

{% block title %}
    <title>Recover Password</title>    
{% endblock %}
{% block style %}
    <style>
        #forgotpassword {padding: 50px; text-align: center;}

    </style>
{% endblock %}


{% block body %}    
    <div id="forgotpassword" class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <form action="{{ url_for('forgotpassword') }}" method="POST">
                <div class="form-group">
                  <label for="username"><span class="required">*</span>Username or Email Address</label>
                  <input type="text" class="form-control" id="username" name="username" autofocus placeholder="username or emai">
                </div>
                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
            <div class="error">
                {% if fp_error %}
                    {{ fp_error }}
                {% else %}
                    <br>
                {% endif %}
            </div>            
            <a href="{{ url_for('register') }}">Register</a>&nbsp;&nbsp;
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        <div class="col-lg-4">

        </div>        
    </div>
    
{% endblock %}
